@import '../../styles/index';

.formContainer {
  padding: $spacing-md;
}

.formGroup {
  margin-bottom: $spacing-lg;
}

.fieldRow {
  @include flex;
  @include flex-wrap;
  gap: $spacing-md;
}

.checkboxGroup {
  @include flex;
  gap: $spacing-lg;
  margin-top: $spacing-md;
  margin-bottom: $spacing-lg;
}

.submitError {
  margin-top: $spacing-md;
  padding: $spacing-sm + $spacing-xs;
  border-radius: $spacing-sm;
  background-color: rgba($danger, 0.1);
}

.readOnlyForm {
  opacity: 0.9;
  
  input, 
  select, 
  textarea, 
  .checkbox {
    cursor: not-allowed;
    background-color: $gray-100;
    border-color: $gray-300;
    
    &:hover, &:focus {
      border-color: $gray-300;
      box-shadow: none;
    }
  }
  
  label {
    color: $gray-600;
  }
} 