// Border radius
$border-radius-xs: 0.25rem;
$border-radius-sm: 0.5rem;
$border-radius-md: 1rem;
$border-radius-lg: 1.5rem;
$border-radius-xl: 2rem;
$border-radius-xxl: 3rem;

// Button sizes
$button-size-xs: 0.25rem;
$button-size-sm: 0.5rem;
$button-size-md: 1rem;
$button-size-lg: 1.5rem;
