@import '../../../styles/index';

.checkboxGroup {
  margin-bottom: $spacing-md;
}

.container {
  display: flex;
  align-items: center;
}

.checkbox {
  margin-right: $spacing-xs;

  &.error {
    border-color: $danger;
  }
}

.label {
  margin-bottom: 0;
}

.errorText {
  margin-top: $spacing-xs;
  font-size: $font-size-sm;
  color: $danger;
}

.helperText {
  margin-top: $spacing-xs;
  font-size: $font-size-sm;
  color: $gray-600;
}
